<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/> <!--Esto para usar internet necesario para retrofit-->
    <!--EXPLICACION DE PORQUE NO VA SIN usesClearTextTrafficPermited-->

    <!--Desde Android 9 (API 28) Google bloquea por defecto todas
    las conexiones HTTP sin cifrar para forzar a las apps a usar HTTPS por seguridad.
     Como el backend usa HTTP (http://10.0.2.2:8080), Android lo bloquea.
    Con cleartextTrafficPermitted="true" Android permite HTTP para esta app. -->

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gearchfrontend">
        <activity
            android:name=".EditarTallerActivity"
            android:exported="false" />
        <activity
            android:name=".ResenasAdminActivity"
            android:exported="false" />
        <activity
            android:name=".HorarioAdminActivity"
            android:exported="false" />
        <activity
            android:name=".ServiciosAdminActivity"
            android:exported="false" />
        <activity
            android:name=".CitasAdminActivity"
            android:exported="false" />
        <activity
            android:name=".BuscarActivity"
            android:exported="false" />
        <activity
            android:name=".EscribirResenaActivity"
            android:exported="false" />
        <activity
            android:name=".AnadirVehiculoActivity"
            android:exported="false" />
        <activity
            android:name=".MisVehiculosActivity"
            android:exported="false" />
        <activity
            android:name=".MisCitasActivity"
            android:exported="false" />
        <activity
            android:name=".MainClienteActivity"
            android:exported="false" />
        <activity
            android:name=".MainAdminActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>